<header>
<p style="padding: 0;margin: 0;">
  <a href="/">
    <b>{{ .Site.Title }}</b>
    <span class="text-stone-500 animate-blink">▮</span>
  </a>
</p>
<ul style="padding: 0;margin: 0;">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
  <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
    <a href="{{ .URL }}"><span>{{ .Name }}</span></a>    
    {{ end }}
  </li>
</ul>
<!-- <span><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}/">{{.Name}}</a></span> -->
</header>
<hr class="hr-list" style="padding: 0;margin: 0;">

<!-- MAthJax Latex -->
<!-- https://github.com/mathjax/MathJax/issues/1988#issuecomment-384978927
     Use plain Javascript to prevent the use of window.eval(). Then
     'unsafe-eval' won't be needed to be added to script-src CSP.

     Also move the mathjax config to a separate file from the inline script so
     that 'unsafe-inline can also be removed from script-src CSP.
-->

<!-- MAthJax Latex -->
<script src="{{ "js/mathjax-config.js" | absURL }}"></script>

<!-- Use MathJax 3 for faster loading -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>