/* Container styling */
.container {
    display: flex;
    flex-direction: row;
    /* gap: 20px;  Space between columns */
    align-items: center;
}

/* Short bio (text) styling */
.short_bio {
    flex: 1;
}

/* Profile image styling */
.profile-image {
    /* flex: 1; */
    display: flex;
    justify-content: center;
}

.profile-image img {
    /* max-width: 100%; Responsive image */
    height: auto;
    border-radius: 8px; /* Optional: rounded corners */
    height: 200px;
    width: 200px;
    justify-content: flex-end;     /* Align image to the right
    /* align-items: center;            Center image vertically */
}

/* Text styling */
.intro {
    font-size: 0.9em;
    margin-bottom: 7px;
    opacity: 0.8;
}

.name h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.subtitle h3 {
    font-size: 1.2em;
    opacity: 0.6;
    margin-bottom: 12px;
}

.bio p {
    margin-bottom: 16px;
    margin-right: 22px;
    opacity: 0.8;

}

/* Container */
.box-container {
    display: inline-flex;
    gap: 10px; /* Space between icons and button */
}
/* Button */
.btn-box {
    display: inline-flex; /* Use inline-flex to align icons and button side-by-side */
    border: 1px solid var(--primary); /* Border color */
    color: var(--text-color) !important;
    border-radius: 8px; /* Rounded corners */
    align-items: center; /* Centers items (icons and button) vertically */
    padding: 6px 30px;   
}

/* Button */
.btn {
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    background: none;
    border: none;
    color: inherit;
}

.btn:hover {
    transform: scale(1.1); 
    transition: transform 0.3s auto;
}

/* social icons */
.idx_icons {
    display: inline-flex;       /* Aligns all icons in a row */
    align-items: center;  /* Centers icons vertically within the row */
    justify-content: center; /* Centers both items horizontally within the container */
    gap: 18px;

    width: 30px;         /* Set desired width */
    height: 30px;        /* Set desired height */

    padding-left: 0.30rem;
    padding-right: 0.30rem; 
    
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    object-fit: contain;      /* Maintain aspect ratio */
}

.idx_icons:hover {
    filter: grayscale(0%);
    filter: contrast(1.2);
    transform: scale(1.2); 
}


/* about me page : content  */
.content {
    /* max-width: 70ch; */ /* caused issues with chome */
    /* margin: 0 auto; */
    text-align: justify;
    line-height: 28px;   /* within paragraph */
    margin: 24px auto var(--content-gap) auto;
}

.content ul {
    padding-left: 30px;
  }
  

.content a {
    text-decoration: underline;
}

.content p {
    margin-bottom: 20px;
}

.content a:hover {
    color: #5078c1; 
  }
  
  .content-title {
      margin-bottom: 2px;
      font-size: 0px;
  }
  
  .content-meta,
  .breadcrumbs {
      color: var(--secondary);
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
  }
  
  .content-meta .i18n_list li {
      display: inline-flex;
      list-style: none;
      margin: auto 3px;
      box-shadow: 0 1px 0 var(--secondary);
  }
  
  .breadcrumbs a {
      font-size: 16px;
  }
  
  .content {
      color: var(--content);
  }
  
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
      margin: 24px 0 16px;
  }
  
  .content h1 {
      margin: 18px auto 28px;
      font-size: 40px;
  }
  
  .content h2 {
      margin: 12px auto 14px;
      font-size: 32px;
  }
  
  .content h3 {
      font-size: 24px;
  }
  
  .content h4 {
      font-size: 16px;
  }
  
  .content h5 {
      font-size: 14px;
  }
  
  .content h6 {
      font-size: 12px;
  }


/* Responsive adjustments */
@media screen and (max-width: 764px) {

    .content {
        text-align: justify;
        margin: 0 auto var(--content-gap) auto !important;
    }

    .content h1 {
        font-size: 32px;
    }

    .content h2 {
        font-size: 28px;
    }

    .content h3 {
        font-size: 22px;
    }

    .content h4 {
        font-size: 18px;
    }

    .content h5 {
        font-size: 16px;
    }

    .content h6 {
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) {

    .content h1 {
        font-size: 28px;
    }

    .content h2 {
        font-size: 24px;
    }
}


/* Responsive styling for smaller screens */
@media (max-width: 764px) {
    .container {
        flex-direction: column;
        text-align: left;   
    }

    .short_bio, .bio{
        width: 100%;
    }

    .profile-image {
        transform: scale(0.8);
    }

    .bio p {
    max-width: 70ch;
    text-align: justify;
    line-height: 28px;   /* within paragraph */
    margin: 24px auto var(--content-gap) auto;
    margin-right: 0px;
    }
}