<header class="header">
    <span class="header__inner">
        {{ partial "logo.html" . }}

        <span class="header__right">
            {{ if len .Site.Menus }}
                {{ partial "menu.html" . }}
                <span class="menu-trigger">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                    </svg>
                </span>
            {{ end }}

            {{- if .Site.Params.EnableThemeToggle }}
                <span class="theme-toggle not-selectable">{{ partial "theme-toggle-icon.html" . }}</span>
            {{- end}}
        </span>
    </span>
</header>


<!-- MAthJax Latex -->
<!-- https://github.com/mathjax/MathJax/issues/1988#issuecomment-384978927
     Use plain Javascript to prevent the use of window.eval(). Then
     'unsafe-eval' won't be needed to be added to script-src CSP.

     Also move the mathjax config to a separate file from the inline script so
     that 'unsafe-inline can also be removed from script-src CSP.
-->

<!-- MAthJax Latex -->
<script src="{{ "js/mathjax-config.js" | absURL }}"></script>

<!-- Use MathJax 3 for faster loading -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>